{
  "printWidth": 100,
  "tabWidth": 2,
  "semi": false,
  "bracketSpacing": true,
  "singleQuote": true,
  "bracketSameLine": true,
  "arrowParens": "avoid",
  "trailingComma": "none",
  "endOfLine": "auto",
  "useTabs": false
}
